
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{headingTitle}}
            <div class="pull-right"> //Search Bar
                <input class="search" type="text" ng-model="query.name" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body">    //Result view
            <div class="row show-list">
                <div class="fade-repeat col-xs-4 col-md-3" ng-repeat="travel in travels | filter:query"> //filter by
                    {{ }} // add relevant data
                </div>
            </div>
        </div>
    </div>
</div>
