<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Register for Events at SNU Breeze 2015</div>
    <div class="panel-body">
      <form class="form" method="post" ng-submit="addEvent()" name="addForm">

      <!-- Event Name Field -->

        <div class="form-group" ng-class="{ 'has-error' : addForm.eventName.$invalid && addForm.eventName.$dirty }">
          <label class="control-label" for="eventName">Add Event Name</label>
          <select class="form-control" name="eventName" ng-model="eventName" required autofocus>
            <option value="event 1">Event 1</option>
          </select>
          <div class="help-block text-danger" ng-if="addForm.eventName.$dirty" ng-messages="addForm.eventName.$error">
            <div ng-message="required">Event name is required.</div>
          </div>
        </div>
           <!-- Full Name -->
          <div class="form-group" ng-class="{ 'has-error' : addForm.Name.$invalid && addForm.Name.$dirty }">
          <label class="control-label">Your Name</label>
          <input class="form-control" type="name" name="Name" ng-model="Name" placeholder="Your full Name" required autofocus>
          <div class="help-block text-danger" ng-if="addForm.Name.$dirty" ng-messages="addForm.Name.$error">
            <div ng-message="required">Your Name is required.</div>
          </div>
        </div>

        <!-- User Email -->
          <div class="form-group" ng-class="{ 'has-error' : addForm.userEmail.$invalid && addForm.userEmail.$dirty }">
          <label class="control-label">Your Email Address</label>
          <input class="form-control" type="email" name="userEmail" ng-model="userEmail" placeholder="Your Email ID" required autofocus>
          <div class="help-block text-danger" ng-if="addForm.userEmail.$dirty" ng-messages="addForm.userEmail.$error">
            <div ng-message="required">Your Email is required. Please ensure valid format of Email</div>
          </div>
        </div>

        <!-- Phone Number field -->

          <div class="form-group" ng-class="{ 'has-error' : addForm.phoneNum.$invalid && addForm.phoneNum.$dirty }">
          <label class="control-label">Phone Number</label>

          <input class="form-control" type="tel" name="phoneNum" ng-model="phoneNum" placeholder="Your Phone Number" required autofocus>
          <div class="help-block text-danger" ng-if="addForm.phoneNum.$dirty" ng-messages="addForm.phoneNum.$error">
            <div ng-message="required">Phone Number is required.Please ensure it is a valid phone number</div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="addForm.$invalid">Add</button>
      </form>
    </div>
  </div>
</div>
