<div class="container-fluid">

        <!-- HEADER AND COUNT -->
        <div class="jumbotron text-center" ng-hide = "status1">
            <h1>Hi {{username}}! <!--<span class="label label-info">{{ bookings.length }}</span>--></h1>
        </div>
        <div class="jumbotron text-center" ng-show = "status1">
            <h1>Enter your Username! <!--<span class="label label-info">{{ bookings.length }}</span>--></h1>
        </div>
        <!-- LIST -->
            <div class="row" ng-hide="status1">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">Your bookings</div>
                  <div class="panel-body">
                    <table class="table table-striped table-hover ">
                      <thead>
                        <tr>
                          <th>Delete?</th>
                            <!--<th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>-->
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Find others</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="booking in bookings | filter:username">
                          <tr>
                            <td><input type="checkbox" ng-click="deleteBooking(booking._id)"></td>
                            <!--  <td>{{ booking.Name }}</td>
                            <td>{{booking.userEmail}}</td>
                            <td>{{booking.phoneNum}}</td>-->
                            <td>{{booking.Source}}</td>
                            <td>{{booking.Destination}}</td>
                            <td>{{booking.travelDate}}</td>
                            <td>{{booking.travelTime}}</td>
                            <td><button class="btn btn-primary" ng-click="getRes(booking._id)">Find!</button>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--Result output-->
                <div class="col-md-6 col-centered" ng-show="status2">
                  <div class="panel panel-default">
                    <div class="panel-heading">Others travelling the same as you</div>
                    <div class="panel-body">
                      <table class="table table-striped table-hover ">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Date</th>
                            <th>Time</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="booking in bookings | filter:{Source:bookingReference.Source,Destination:bookingReference.Destination}">
                          <tr>
                            <td>{{booking.Name}}</td>
                            <td>{{booking.userEmail}}</td>
                            <td>{{booking.phoneNum}}</td>
                            <td>{{booking.Source}}</td>
                            <td>{{booking.Destination}}</td>
                            <td>{{booking.travelDate}}</td>
                            <td>{{booking.travelTime}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-centered" ng-hide="status2">
                  <div class="panel panel-default">

                    <div class="panel-body">
                      <div class="jumbotron text-center">
                        <h1 class="label label-primary">'Find!'</h1>
                      </div>
                        <h2>Click the find button to get results!</h2>
                    </div>
                  </div>
                </div>
              </div>


        <!-- FORM TO CREATE TODOS -->
        <div  ng-show="status1">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="UserName" ng-model="formData.name">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="getUser()">Get bookings</button>
                </form>
            </div>
        </div>
    </div>
